<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>QL_NhaHangPG_v1.0</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>dangNhap.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>dangNhap.jsp</welcome-file>
  </welcome-file-list>
  	<servlet>
	    <description></description>
	    <display-name>checkLoginServlet</display-name>
	    <servlet-name>checkLoginServlet</servlet-name>
	    <servlet-class>controller.checkLoginServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
	    <servlet-name>checkLoginServlet</servlet-name>
	    <url-pattern>/checkLoginServlet</url-pattern>
  	</servlet-mapping>
	<servlet>
	    <description></description>
	    <display-name>showDangNhapServlet</display-name>
	    <servlet-name>showDangNhapServlet</servlet-name>
	    <servlet-class>controller.showDangNhapServlet</servlet-class>
 	 </servlet>
	  	<servlet-mapping>
		    <servlet-name>showDangNhapServlet</servlet-name>
		    <url-pattern>/showDangNhapServlet</url-pattern>
	  	</servlet-mapping>
	  	
	  	
	  	<servlet>
	    <description></description>
	    <display-name>showQuanLyBanHangServlet</display-name>
	    <servlet-name>showQuanLyBanHangServlet</servlet-name>
	    <servlet-class>controller.showQuanLyBanHangServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>showQuanLyBanHangServlet</servlet-name>
	    <url-pattern>/showQuanLyBanHangServlet</url-pattern>
	  </servlet-mapping>
	   <servlet>
	    <description></description>
		    <display-name>showChiTietBanServlet</display-name>
		    <servlet-name>showChiTietBanServlet</servlet-name>
		    <servlet-class>controller.showChiTietBanServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
		    <servlet-name>showChiTietBanServlet</servlet-name>
		    <url-pattern>/showChiTietBanServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <description></description>
	    <display-name>quanLyBanServlet</display-name>
	    <servlet-name>quanLyBanServlet</servlet-name>
	    <servlet-class>controller.quanLyBanServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>quanLyBanServlet</servlet-name>
	    <url-pattern>/quanLyBanServlet</url-pattern>
	  </servlet-mapping>
	  
	  
	  <servlet>
	    <description></description>
	    <display-name>showQuanLyThucDonServlet</display-name>
	    <servlet-name>showQuanLyThucDonServlet</servlet-name>
	    <servlet-class>controller.showQuanLyThucDonServlet</servlet-class>
  	</servlet>
	  <servlet-mapping>
	    <servlet-name>showQuanLyThucDonServlet</servlet-name>
	    <url-pattern>/showQuanLyThucDonServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <description></description>
	    <display-name>quanLyThucDonServlet</display-name>
	    <servlet-name>quanLyThucDonServlet</servlet-name>
	    <servlet-class>controller.quanLyThucDonServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>quanLyThucDonServlet</servlet-name>
	    <url-pattern>/quanLyThucDonServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <description></description>
	    <display-name>quanLyThucDonUpdateServlet</display-name>
	    <servlet-name>quanLyThucDonUpdateServlet</servlet-name>
	    <servlet-class>controller.quanLyThucDonUpdateServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>quanLyThucDonUpdateServlet</servlet-name>
	    <url-pattern>/quanLyThucDonUpdateServlet</url-pattern>
	  </servlet-mapping>
	    <servlet>
	    <description></description>
	    <display-name>quanLyThucDonDeleteServlet</display-name>
	    <servlet-name>quanLyThucDonDeleteServlet</servlet-name>
	    <servlet-class>controller.quanLyThucDonDeleteServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>quanLyThucDonDeleteServlet</servlet-name>
	    <url-pattern>/quanLyThucDonDeleteServlet</url-pattern>
	  </servlet-mapping>
	  
	  <servlet>
	    <description></description>
	    <display-name>showQuanLyNhanVienServlet</display-name>
	    <servlet-name>showQuanLyNhanVienServlet</servlet-name>
	    <servlet-class>controller.showQuanLyNhanVienServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>showQuanLyNhanVienServlet</servlet-name>
	    <url-pattern>/showQuanLyNhanVienServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <description></description>
	    <display-name>quanLyNhanVienServlet</display-name>
	    <servlet-name>quanLyNhanVienServlet</servlet-name>
	    <servlet-class>controller.quanLyNhanVienServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>quanLyNhanVienServlet</servlet-name>
	    <url-pattern>/quanLyNhanVienServlet</url-pattern>
	  </servlet-mapping>
	  
	  
	  <servlet>
	    <description></description>
	    <display-name>showQuanLySuKienServlet</display-name>
	    <servlet-name>showQuanLySuKienServlet</servlet-name>
	    <servlet-class>controller.showQuanLySuKienServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>showQuanLySuKienServlet</servlet-name>
	    <url-pattern>/showQuanLySuKienServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <description></description>
	    <display-name>quanLySuKienServlet</display-name>
	    <servlet-name>quanLySuKienServlet</servlet-name>
	    <servlet-class>controller.quanLySuKienServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>quanLySuKienServlet</servlet-name>
	    <url-pattern>/quanLySuKienServlet</url-pattern>
	  </servlet-mapping>
	  
	  
	   <servlet>
	    <description></description>
	    <display-name>showQuanLyNhapHangServlet</display-name>
	    <servlet-name>showQuanLyNhapHangServlet</servlet-name>
	    <servlet-class>controller.showQuanLyNhapHangServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>showQuanLyNhapHangServlet</servlet-name>
	    <url-pattern>/showQuanLyNhapHangServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <description></description>
	    <display-name>quanLyNhapHangServlet</display-name>
	    <servlet-name>quanLyNhapHangServlet</servlet-name>
	    <servlet-class>controller.quanLyNhapHangServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>quanLyNhapHangServlet</servlet-name>
	    <url-pattern>/quanLyNhapHangServlet</url-pattern>
	  </servlet-mapping>
	  
	  
	  <servlet>
	    <description></description>
	    <display-name>showThietLapTaiKhoanServlet</display-name>
	    <servlet-name>showThietLapTaiKhoanServlet</servlet-name>
	    <servlet-class>controller.showThietLapTaiKhoanServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>showThietLapTaiKhoanServlet</servlet-name>
	    <url-pattern>/showThietLapTaiKhoanServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <description></description>
	    <display-name>thietLapTaiKhoanServlet</display-name>
	    <servlet-name>thietLapTaiKhoanServlet</servlet-name>
	    <servlet-class>controller.thietLapTaiKhoanServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>thietLapTaiKhoanServlet</servlet-name>
	    <url-pattern>/thietLapTaiKhoanServlet</url-pattern>
	  </servlet-mapping>
	  
	  
	  <servlet>
	    <description></description>
	    <display-name>showQuanLyGopYServlet</display-name>
	    <servlet-name>showQuanLyGopYServlet</servlet-name>
	    <servlet-class>controller.showQuanLyGopYServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>showQuanLyGopYServlet</servlet-name>
	    <url-pattern>/showQuanLyGopYServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <description></description>
	    <display-name>quanLyGopYServlet</display-name>
	    <servlet-name>quanLyGopYServlet</servlet-name>
	    <servlet-class>controller.quanLyGopYServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>quanLyGopYServlet</servlet-name>
	    <url-pattern>/quanLyGopYServlet</url-pattern>
	  </servlet-mapping>
	  
	  
	  <servlet>
	    <description></description>
	    <display-name>showThongKeServlet</display-name>
	    <servlet-name>showThongKeServlet</servlet-name>
	    <servlet-class>controller.showThongKeServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>showThongKeServlet</servlet-name>
	    <url-pattern>/showThongKeServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <description></description>
	    <display-name>thongKeServlet</display-name>
	    <servlet-name>thongKeServlet</servlet-name>
	    <servlet-class>controller.thongKeServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>thongKeServlet</servlet-name>
	    <url-pattern>/thongKeServlet</url-pattern>
	  </servlet-mapping>
		
		
		
	 <servlet>
	    <description></description>
	    <display-name>showQuanLyBanHangServlet_quanly</display-name>
	    <servlet-name>showQuanLyBanHangServlet_quanly</servlet-name>
	    <servlet-class>controller.showQuanLyBanHangServlet_quanly</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>showQuanLyBanHangServlet_quanly</servlet-name>
	    <url-pattern>/showQuanLyBanHangServlet_quanly</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <description></description>
	    <display-name>showChiTietBanServlet_quanly</display-name>
	    <servlet-name>showChiTietBanServlet_quanly</servlet-name>
	    <servlet-class>controller.showChiTietBanServlet_quanly</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>showChiTietBanServlet_quanly</servlet-name>
	    <url-pattern>/showChiTietBanServlet_quanly</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <description></description>
	    <display-name>quanLyBanServlet_quanly</display-name>
	    <servlet-name>quanLyBanServlet_quanly</servlet-name>
	    <servlet-class>controller.quanLyBanServlet_quanly</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>quanLyBanServlet_quanly</servlet-name>
	    <url-pattern>/quanLyBanServlet_quanly</url-pattern>
	  </servlet-mapping>
	  
	  
	  <servlet>
	    <description></description>
	    <display-name>showHoaDonServlet</display-name>
	    <servlet-name>showHoaDonServlet</servlet-name>
	    <servlet-class>controller.showHoaDonServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>showHoaDonServlet</servlet-name>
	    <url-pattern>/showHoaDonServlet</url-pattern>
	  </servlet-mapping>
	  
	  
	  <servlet>
	    <description></description>
	    <display-name>deleteFoodCallServlet</display-name>
	    <servlet-name>deleteFoodCallServlet</servlet-name>
	    <servlet-class>controller.deleteFoodCallServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>deleteFoodCallServlet</servlet-name>
	    <url-pattern>/deleteFoodCallServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <description></description>
	    <display-name>updateCallFoodServlet</display-name>
	    <servlet-name>updateCallFoodServlet</servlet-name>
	    <servlet-class>controller.updateCallFoodServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>updateCallFoodServlet</servlet-name>
	    <url-pattern>/updateCallFoodServlet</url-pattern>
	  </servlet-mapping>
	  
	  
	   <servlet>
	    <description></description>
	    <display-name>showGoiMonServlet</display-name>
	    <servlet-name>showGoiMonServlet</servlet-name>
	    <servlet-class>controller.showGoiMonServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>showGoiMonServlet</servlet-name>
	    <url-pattern>/showGoiMonServlet</url-pattern>
	  </servlet-mapping>
		<servlet>
	    <description></description>
	    <display-name>showMonDaGoiServlet</display-name>
	    <servlet-name>showMonDaGoiServlet</servlet-name>
	    <servlet-class>controller.showMonDaGoiServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>showMonDaGoiServlet</servlet-name>
	    <url-pattern>/showMonDaGoiServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <description></description>
	    <display-name>goiMonServlet</display-name>
	    <servlet-name>goiMonServlet</servlet-name>
	    <servlet-class>controller.goiMonServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>goiMonServlet</servlet-name>
	    <url-pattern>/goiMonServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <description></description>
	    <display-name>deleteFoodCallServlet</display-name>
	    <servlet-name>deleteFoodCallServlet</servlet-name>
	    <servlet-class>controller.deleteFoodCallServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>deleteFoodCallServlet</servlet-name>
	    <url-pattern>/deleteFoodCallServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <description></description>
	    <display-name>baoThanhToanServlet</display-name>
	    <servlet-name>baoThanhToanServlet</servlet-name>
	    <servlet-class>controller.baoThanhToanServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>baoThanhToanServlet</servlet-name>
	    <url-pattern>/baoThanhToanServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
    	<description></description>
	    <display-name>goiPhucVuServlet</display-name>
	    <servlet-name>goiPhucVuServlet</servlet-name>
	    <servlet-class>controller.goiPhucVuServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>goiPhucVuServlet</servlet-name>
	    <url-pattern>/goiPhucVuServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <description></description>
	    <display-name>feedBackServlet</display-name>
	    <servlet-name>feedBackServlet</servlet-name>
	    <servlet-class>controller.feedBackServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>feedBackServlet</servlet-name>
	    <url-pattern>/feedBackServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <description></description>
	    <display-name>guiYeuCauServlet</display-name>
	    <servlet-name>guiYeuCauServlet</servlet-name>
	    <servlet-class>controller.guiYeuCauServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>guiYeuCauServlet</servlet-name>
	    <url-pattern>/guiYeuCauServlet</url-pattern>
	  </servlet-mapping>
</web-app>
</element>